@font-face {
  font-family: 'kl-icon';  /* project id 684224 */
  src: url('https://at.alicdn.com/t/font_684224_l624ywwd7w.eot');
  src: url('https://at.alicdn.com/t/font_684224_l624ywwd7w.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_684224_l624ywwd7w.woff') format('woff'),
  url('https://at.alicdn.com/t/font_684224_l624ywwd7w.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_684224_l624ywwd7w.svg#kl-icon') format('svg');
}